<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
		rel="stylesheet" />

	<style>
		body {
			max-width: min(100%, 75em);
			margin: 40px auto;
			font: 18px/1.5 "Helvetica Neue", "Open Sans", Arial, "Noto Sans",
				sans-serif;
			color: #444;
		}

		h1,
		h2,
		h3 {
			line-height: 1.2;
		}

		code {
			font-family: "Courier New", Courier, monospace;
		}

		@media (prefers-color-scheme: dark) {
			body {
				color: #ddd;
				background: #111;
			}

			a:link {
				color: #6af;
			}

			a:visited {
				color: #99f;
			}
		}
	</style>
	<title>Hitcounter</title>
</head>

<body>
	<h1>Hitcounter Index Page</h1>

	<a href="{{ url_for('index', _external=True) }}">
		<img src="{{ url_for('UniqueTicker', _external=True) }}"
			alt="A hitcounter in the style of a seven-segment display." /></a>

	<a href="{{ url_for('index', _external=True) }}" style="float: right">
		<img src="{{ url_for('CurrentCount', _external=True) }}"
			alt="A hitcounter in the style of a seven-segment display." /></a>

	<hr />

	<p>To use the hitcounter, simply add this img tag to your site:</p>
	<code>
      &lt;img src="{{ url_for('UniqueTicker', _external=True) }}" alt="A
      hitcounter in the style of a seven-segment display." /&gt;
    </code>

	<p>Or, if you only want to track all hits, use this instead:</p>
	<code>
      &lt;img src="{{ url_for('CurrentTicker', _external=True) }}" alt="A
      hitcounter in the style of a seven-segment display." /&gt;
    </code>
</body>

</html>